body{
    background-color: rgb(227, 212, 194);
}
.image1{
    height: auto;
    width: 200px;
    background-color: rgb(208, 193, 175);
    display: flex;
    justify-content: flex-start;
}
h1{
    background-color: rgb(208, 193, 175);
    display: flex;
    justify-content: center;
}
main{
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    justify-content: space-around;
}
.image2{
    height: auto;
    width: 430px;
}
.image3{
    height: auto;
    width: 400px;
}
.image4{
    height: auto;
    width: 350px;
}
.image5{
    height: auto;
    width: 430px;
}
.image6{
    height: auto;
    width: 550px;
}
.image7{
    height: auto;
    width: 420px;
}
.image8{
    height: auto;
    width: 430px;
}
.image9{
    height: 400px;
    width: 300px;
}
.image10{
    height: auto;
    width: 530px;
}
.nav1{
    display: flex;
    justify-content: center;
}
footer{
    background-color: rgb(208, 193, 175);
}
.menu{
    display: flex;
}
.nav2{
    display: flex;
}
.nav3{
    display: flex;
}
.nav4{
    display: flex;
}
.image11{
    height: auto;
    width: 200px;
    display: block;
    margin: auto;
}